/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jun 17, 2026, 1:44:05 PM
    Author     : admin
*/
.Container {
    -fx-background-color: lightblue;
    -fx-alignment: CENTER;
    -fx-spacing: 15;
}

.Subject {
    -fx-font-size: 40;
    -fx-font-weight: bold;
    -fx-fill: red;
    -fx-stroke-width: 2;
    -fx-stroke: gold;
}

.Button {
    -fx-background-color: lightgray;
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-pref-width: 250;    
}